env
env/
venv
venv/

dataset
dataset/
caltech101_dataset
caltech101_dataset/
art_media_dataset
art_media_dataset/
Wiki_art_dataset
Wiki_art_dataset/
data_to_label
data_to_label/

*.zip

prep-ML-text/obs_full/